@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&subset=cyrillic');

body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  color: #444;
  font: 15px/24px "Open Sans", Arial, sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.container {
  max-width: 1345px;
  padding-left: 16px !important;
  padding-right: 16px !important;
  margin: 0 auto;
}

header {
  &#static {
    .header__top {
      height: 104px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .header__top-left {
        display: flex;
        align-items: center;

        > * {
          width: 17%;
          padding-left: 16px;
          padding-right: 16px;
          font-size: 13px;
          line-height: 1.5em;
          font-weight: bold;
          &.header-text {
            color: #999;
            font-weight: 400;
          }
        }
        .header__logo img {
          width: 104px;
        }
      }
      .header__top-right {
        font-size: 16px;
        i {
          left: 0;
          background-image: url(includes/phone.svg);
          width: 9px;
          height: 12px;
          top: 7px;
        }
        .header-tel {
          position: relative;
          .phone-hidden {
            display: none;
          }
          &:hover .phone-hidden {
            box-shadow: 0 2px 10px 0 rgba(0,0,0,.2);
            padding: 10px;
            position: absolute;
            left: -25px;
            top: 24px;
            z-index: 3;
            width: calc(100% + 50px);
            text-align: center;
            background: #fff;
            display: block;
          }
          a {
            color: #222;
            text-decoration: none;
            white-space: nowrap;
            font-weight: bold;
            position: relative;
            padding-right: 10px;
            &:first-child {
              &::after {
                content: "";
                position: absolute;
                top: 50%;
                margin-top: -2px;
                width: 5px;
                height: 3px;
                background: url(includes/digital.png) -20px -333px no-repeat;
                right: 0;
              }
            }
          }
          .header-callme {
            margin-left: 25px;
            cursor: pointer;
            font-size: 13px;
            color: #de002b;
          }
        }
      }
      .header-info {
        position: relative;
        padding-left: 25px;
        i {
          background-image: url(includes/address.svg);
          display: inline-block;
          width: 13px;
          height: 16px;
          position: absolute;
          top: 0;
          + * {
            margin-left: 25px;
            float: right;
        }
        }
      }

    }
  }
}